{#
/**
 * @file stud_pay_mgnt.html.twig
 * Default theme implementation to present Stud pay mgnt data.
 *
 * This template is used when viewing Stud pay mgnt pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stud_pay_mgnt()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stud_pay_mgnt') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
